@tailwind base;
@tailwind components;
@tailwind utilities;

/*~~~~~~~~$ App Styling $~~~~~~~~*/
/* main container */
.main{
  @apply bg-gray-900 h-svh flex
}

/* Resizable Panel Styling */
.resizable-panel {
    @apply h-full flex flex-col space-y-2 p-4 bg-gray-800;
}

/* ContentSyntaxHighlighter */

/* Hide scrollbar for Chrome, Safari, and Opera */
.syntax-highlighter::-webkit-scrollbar {
    display: none; 
}

/* Hide scrollbar for Firefox */
.syntax-highlighter {
    scrollbar-width: none; 
    overflow: auto; 
}

/* Optional: Prevent the resizing of the scrollbar */
.syntax-highlighter {
    overflow: auto; 
}


/*~~~~~~~~$ Welcome Tab Styling $~~~~~~~~*/
.welcome-tab {
    @apply bg-gray-900 text-white h-full flex flex-col items-center justify-center p-6;
}

.welcome-tab__logo {
    @apply mb-4; 
}

.welcome-tab__title {
    @apply text-2xl font-bold; 
}

.welcome-tab__subtitle {
    @apply text-lg text-gray-400; 
}

.welcome-tab__actions {
    @apply space-x-4 mt-4; 
}

.welcome-tab__button {
    @apply px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-500 transition duration-200; /* Button styling */
}

.welcome-tab__recent-files {
    @apply mt-6; 
}

.welcome-tab__recent-files-title {
    @apply text-lg font-semibold; 
}

.welcome-tab__recent-files-list {
    @apply list-disc list-inside mt-2;
}

.welcome-tab__recent-file {
    @apply text-gray-300; 
}

/*~~~~~~~~$ Menu context Styling $~~~~~~~~*/
.drop-menu {
    @apply bg-gray-950 p-1 text-gray-200 shadow-lg rounded-md z-50;
    @apply absolute;
    @apply border border-gray-700; 
}

.drop-menu__item {
    @apply w-[90%] mx-auto py-1 whitespace-nowrap; 
}

.drop-menu__button {
    @apply flex items-center w-full px-4 py-2 text-left rounded-lg hover:bg-gray-800 transition-colors duration-200;
}

.drop-menu__icon {
    @apply mr-2; 
}

/*~~~~~~~~$ Opened Files Styling $~~~~~~~~*/

.opened-files {
}

.opened-files__toggle {
    @apply w-full flex items-center text-gray-200 py-1 px-2 rounded transition duration-200;
}

.opened-files__toggle span{
    @apply mr-2; 
}

.opened-files__list {
    @apply mt-2 max-h-60 overflow-y-auto; /* Limit height and add scroll */
}

.opened-files__item {
    @apply flex items-center justify-between p-2 hover:bg-gray-800 rounded transition duration-200;
}

.opened-files__close-button {
    @apply text-gray-400 hover:text-gray-200 mr-2;
}

.opened-files__name {
    @apply flex items-center text-left text-gray-200 truncate flex-1;
}

/*~~~~~~~~$ Recursive File Tree Styles $~~~~~~~~*/

.recursive-file-tree {
    @apply w-full;
  }
  
  .recursive-file-tree__button-wrapper {
    @apply flex items-center mb-2 cursor-pointer;
  }


  
  .recursive-file-tree__arrow {
    @apply mr-2;
  }
  
  .recursive-file-tree__file-name {
    @apply flex items-center w-full;
  }
  
  .recursive-file-tree__file-text {
    @apply text-white font-semibold tracking-wider ml-2 whitespace-nowrap;
  }
  
  .recursive-file-tree__add-controls {
    @apply hidden items-center space-x-2;
  }

  .recursive-file-tree__button-wrapper:hover .recursive-file-tree__add-controls{
    @apply flex;
  }
  
  .recursive-file-tree__add-button {
    @apply p-1 hover:bg-gray-700 rounded;
  }
  
  .recursive-file-tree__children {
    @apply ml-4;
  }
  
  .recursive-file-tree__add-section {
    @apply flex items-center justify-center mb-2;
  }
  
  .recursive-file-tree__input {
    @apply bg-gray-800 border border-gray-300 text-white p-1 rounded-lg w-full;
  }
  
  .recursive-file-tree__error-text {
    @apply text-red-500 text-sm mt-1 absolute;
  }
  
  .recursive-file-tree__action-buttons {
    @apply flex space-x-2 ml-4;
  }
  
  .recursive-file-tree__confirm-button {
    @apply bg-green-600 text-white px-2 py-1 text-xs font-semibold rounded-lg;
  }
  
  .recursive-file-tree__cancel-button {
    @apply bg-red-600 text-white px-2 py-1 text-xs font-semibold rounded-lg;
  }

/*~~~~~~~~$ Opened Files Bar Styling $~~~~~~~~*/
.opened-files__container{
  @apply bg-black h-fit flex items-center border-y-2 border-gray-700;
}
/*~~~~~~~~$ OpenedFileTab $~~~~~~~~*/
.tabs__container {
    @apply drop-menu bg-gray-950 text-gray-200 shadow-lg rounded-lg absolute;
}
.opened-file-tab {
  @apply relative flex items-center p-2 px-4 text-gray-300 border-x border-gray-700 transition duration-150 ease-in-out;
}

.opened-file-tab--active {
  @apply bg-gray-900 border-t-orange-600 border-t-[3px];
}

.opened-file-tab--hover {
  @apply hover:bg-gray-800 border-t-transparent;
}

.opened-file-tab__icon {
  @apply ml-2;
}

.opened-file-tab__name {
  @apply ml-2 text-sm truncate text-gray-200;
}

.opened-file-tab__close-button {
  @apply ml-2;
}

.opened-file-tab__indicator {
  @apply w-full h-1 absolute bg-gray-900 -bottom-1 left-0;
}